/*************************************************** HEADER *****************************************************/
.site-header-loading .site-header-main-actions {
  opacity: 100;
}

.site-header-loading .site-navigation {
  opacity: 100;
}

.navmenu-link {
  font-weight: 500 !important;
  font-size: 18px !important;
}

.site-header-button.site-header-search-button {
  align-items: center;
}

.search-text-nav {
  color: white;
}

@media screen and (min-width: 0px) {
  .site-logo-link-alternate {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .site-logo {
    display: none;
  }
  .site-logo-link-alternate {
    display: inline;
  }
}
@media (min-width: 900px) {
  .template-index #shopify-section-static-basic-header {
    background: transparent;
    position: absolute;
  }
}
.image-with-text-section-home .image-with-text.image-with-text-section-height-original {
  padding: 0;
  margin: auto;
  background-size: cover;
  width: 100%;
  max-width: 100%;
}
.image-with-text-section-home .image-with-text.image-with-text-section-height-large {
  max-width: 100%;
  padding: 0;
}

@media (max-width: 479px) {
  .image-with-text-content-wrapper.image-with-text-content-position-y-center.image-with-text-content-position-x-center {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .image-with-text-heading {
    color: white !important;
  }
  .image-with-text-subheading.rte {
    color: white;
  }
}
@media (max-width: 480px) {
  .image-with-text-section-height-original .image-with-text-overlay {
    display: block;
  }
}
@media (min-width: 900px) {
  .image-with-text-section-home .image-with-text-heading {
    font-size: 60px;
    font-weight: 500;
  }
  .image-with-text-section-home .image-with-text-subheading.rte {
    font-size: 22px;
    font-weight: 500;
  }
}
/*************************************************** TOP SECTION *****************************************************/
.dynamic-collection-list--section-home .home-section--title {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.dynamic-collection-list--section-home .home-section--subheading {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.dynamic-collection-list--section-home .dynamic-collection-list--item-title {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.dynamic-collection-list--section-home .image-with-text-heading {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.dynamic-collection-list--section-home .image-with-text-subheading.rte {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.dynamic-collection-list--section-home .dynamic-collection-list--item-title-mobile {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.dynamic-collection-list--section-home {
  display: none;
}

.logo-background {
  max-width: 100%;
  width: 100%;
}

.logo-background img {
  width: 100%;
  z-index: -1;
}

.dynamic-collection-list--section-home .dynamic-collection-list--container {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.dynamic-collection-list--section-home .dynamic-collection-list--container {
  padding: 30px !important;
}

.dynamic-collection-list--section-home {
  position: relative;
}

.dynamic-collection-list--section-home .dynamic-collection-list--container {
  position: absolute;
  bottom: 0;
}

@media (min-width: 1000px) {
  .dynamic-collection-list--section-home {
    display: block;
  }
}
@media (min-width: 1000px) {
  .image-with-text-section-home {
    display: none;
  }
  .dynamic-collection-list--section-mobile {
    display: none;
  }
}
.dynamic-collection-list--section-home .dynamic-collection-list--item.active.active-mobile {
  position: relative;
  border: 2px solid white;
}

.dynamic-collection-list--section-mobile .dynamic-collection-list--item.active.active-mobile {
  position: relative;
  border: 2px solid white;
}

.dynamic-collection-list--section-home .dynamic-collection-list--item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.dynamic-collection-list--section-mobile .dynamic-collection-list--item-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.dynamic-collection-list--section-home .dynamic-collection-list--item-title {
  margin: 20px;
  color: white;
  font-size: 26px;
  font-weight: 400;
}

.dynamic-collection-list--section-mobile .dynamic-collection-list--item-title-mobile {
  margin: 20px 0;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.dynamic-collection-list--section-mobile .dynamic-collection-list--item-title {
  margin: 16px 0;
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.dynamic-collection-list--section-home .dynamic-collection-list--item.active {
  position: relative;
  border: 2px solid white;
}

.dynamic-collection-list--section-mobile .dynamic-collection-list--item.active {
  position: relative;
  border: 2px solid white;
}

.dynamic-collection-list--section-home .home-section--subheading p {
  font-size: 22px;
  font-weight: 500;
}
.dynamic-collection-list--section-home .home-section--title {
  font-size: 80px;
  font-weight: 500;
}
@media (max-width: 1315px) {
  .dynamic-collection-list--section-home .home-section--title {
    font-size: 60px;
    
  }
}
  

.dynamic-collection-list--section-home .home-section--title-container {
  margin-top: 0;
  margin-bottom: 6.625rem;
  text-align: center;
  padding: 0 300px;
}
.dynamic-collection-list--section-home .home-section--title-container {
  padding: 0;
}
.dynamic-collection-list--section-home .home-section--title-container {
  width: 50%;
}
.dynamic-collection-list--section-home .dynamic-collection-list--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dynamic-collection-list--section-home .home-section--subheading {
  margin: 0;
}
.dynamic-collection-list--section-home .home-section--subheading {
  margin: 0;
}

/********************************************** highlight top ***************************************************/
/* @media screen and (min-width: 1024px) */
.highlights-banners-icon {
  height: 4rem;
}

.highlight-banners-count-4 .highlights-banners-block {
  width: 20%;
}

.shopify-section.highlights-banners--section {
  margin-top: 10px;
}

/*************************************************** tripple feature *****************************************************/
.tripple-collections--section .featured-collections--content .promo-block-mosaic--content {
  display: flex;
  align-items: flex-end;
}

@media (min-width: 720px) {
  .tripple-collections--section {
    margin-top: 10px;
  }
  .tripple-collections--section .featured-collections--grid-items-container.featured-collections--lte-2-grid-items {
    margin-right: 10px;
  }
  .tripple-collections--section .featured-collections--container {
    padding: 0 !important;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }
  .tripple-collections--section .home-section--content.featured-collections--content {
    display: flex;
    flex-direction: row-reverse;
  }
  .tripple-collections--section .promo-block-mosaic {
    width: 50%;
    margin: 0;
  }
  .tripple-collections--section .featured-collections--grid-items-container.featured-collections--lte-2-grid-items {
    width: 50%;
  }
  .tripple-collections--section .featured-collections--grid-item {
    padding: 0;
    position: relative;
  }
  .tripple-collections--section .featured-collections-grid-item-title.align-left.style-heading {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    font-size: 24px;
    color: white;
    margin: 10px 0;
  }
  .tripple-collections--section .promo-block-mosaic--content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .tripple-collections--section .featured-collections--content .promo-block-mosaic--content {
    padding: 20px;
  }
  .tripple-collections--section .featured-collections--grid-item {
    padding-bottom: 10px;
  }
  .tripple-collections--section .featured-collections--grid-items-container.featured-collections--lte-2-grid-items {
    flex: 1;
  }
  .tripple-collections--section .promo-block-mosaic {
    flex: 1;
  }
  .tripple-collections--section .promo-block-mosaic--header {
    font-size: 24px !important;
  }
  .tripple-collections--section .featured-collections--content .promo-block-mosaic--content {
    display: flex;
    align-items: flex-start;
  }
}
/*************************************************** IMAGE-TEXT-HOMEPAGE *****************************************************/
.home-alt-img-with-text--section .alt-img-with-text--container {
  padding-top: 36px;
  padding-bottom: 0 !important;
}
.home-alt-img-with-text--section .alt-img-with-text--container .alt-img-with-text--button.button-primary {
  padding: 0;
  background: transparent;
  border: none;
}
.home-alt-img-with-text--section .alt-img-with-text--container .alt-img-with-text--button.button-primary:hover {
  text-decoration: underline;
}
.home-alt-img-with-text--section .alt-img-with-text--container .button-text {
  color: black;
}

@media (min-width: 1400px) {
  .alt-img-with-text--content .alt-img-with-text--text {
    padding: 2.75rem 10rem !important;
    margin: 0;
  }
}
/*************************************************** TRENDING *****************************************************/
.home-featured-collection--section .productitem--image-link {
  display: block;
  min-height: 174px;
}
.home-featured-collection--section .featured-collection--container .featured-collection--content[data-layout=grid] .productgrid--item:nth-child(5n) {
  display: none;
}
.home-featured-collection--section .product-item-btn {
  display: none;
}

@media (min-width: 1080px) {
  .home-featured-collection--section .home-section--content.featured-collection--content.product-row {
    grid-template-columns: repeat(4, 1fr);
  }
  .home-featured-collection--section .featured-collection--container .home-section--title {
    font-size: 36px !important;
  }
}
/*************************************************** FOOTER *****************************************************/
.site-footer-block-title {
  font-weight: 600;
}

.navmenu-link {
  font-weight: 400 !important;
}

.site-footer-block-item.site-footer-block-social-accounts {
  justify-content: flex-end;
}

.form-field-title {
  color: #222222 !important;
}

.form-field.newsletter-submit.button-primary {
  color: #222222;
  background: white;
  border: none;
  margin: 0;
  padding-left: 0; 
}

.form-field-input.form-field-text {
  border: none;
  margin: 0;
  padding-right: 0;
}

.form-fields-inline {
  background: white;
}

.newsletter .form-fields-inline {
  flex-wrap: nowrap;
}

.social-icons.social-icons-dark-light {
  flex-wrap: nowrap;
}

.newsletter .newsletter-input {
  margin: 0;
}

.site-footer-block-newsletter .newsletter .newsletter-input .form-field-title:before {
  display: none;
}

hr {
  border: 1px solid #ffffff;
  width: 90%;
  opacity: 0.1;
}

.hr_btm {
  display: none;
}

.site-footer-block-item.site-footer-block-social-accounts .site-footer-block-title {
  display: none;
}

.site-footer-block-item.site-footer-block-social-accounts img {
  max-width: 200px;
}

.site-footer-block-item.site-footer-block-social-accounts p {
  max-width: 147px;
}

@media screen and (min-width: 1024px) {
  .site-footer-block-item.site-footer-block-menu.has-accordion {
    margin-top: 50px;
  }
  .site-footer-block-item.site-footer-block-newsletter {
    margin-top: 50px;
  }
  .site-footer {
    padding-top: 0;
  }
  .site-footer-blocks {
    margin-top: 50px;
  }
  #shopify-section-dynamic-highlights-banners .highlights-banners {
    padding-top: 50px !important;
    padding-bottom: 0 !important;
  }
  .hr_btm {
    display: block;
    border: 1px solid #ffffff;
    width: 90%;
    opacity: 0.1;
  }
}/*# sourceMappingURL=style.css.map */